---
layout: default
---

  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
      
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
 				<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
              </button>
              <a class="navbar-brand" href="/">Michael Kuang</a>
          </div>
          
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">

			  <li class="nav-item active">
				<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">Features</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">About</a>
			  </li>
            </ul>
          </div>
      </div>
  </nav>

	<div class="jumbotron">
	  <div class="container">
		  <div class="row">
			<h1 class="text-center"> Michael Kuang</h1>
			<p class="text-center">"I'm a software developer and designer from Chicago creating useful things for the web."</p>
			<div class = "text-center">
				<a href="#"><button class="btn btn-default btn-lg"><i class="fa fa-twitter fa-lg"></i>Twitter</button></a>
				<a href="#"><button class="btn btn-default btn-lg"><i class="fa fa-github fa-lg"></i>Github</button></a>
				<a href="#"><button class="btn btn-default btn-lg"><i class="fa fa-medium fa-lg"></i>Medium</button></a>
			</div>
			<div class = "text-center">
			<a class="section-jump" href="#">
				<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
			</a>
			</div>
		  </div>
	  </div>
	</div>
    <main id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-12">

            {% if site.data.posts.section_title != '' %}
            <h2 class="section-title text-center">{{ site.data.posts.section_title }}</h2>
            {% endif %}
            {% if site.data.posts.section_subtitle != '' %}
            <p class="section-subtitle text-center">{{ site.data.posts.section_subtitle }}</p>
            {% endif %}

            <div class="break"></div>

          </div>
        </div>
      </div>
    </main>